.overlay{
    background-color: aliceblue;
    margin-right: 80%;
}

#zindex2{
    z-index: -1000;

}

#map{
    z-index: -10000;
}

.button2{
    font-family: Josefin Sans;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 0;
    border-radius: 5px;
    margin: 10px;
    transition: 0.4s;
    padding: 3px;
    flex: auto;
    width: 10%;
    float: left;
}

.button2:hover{
    background-color: black;
    color: white;

}